@import '../../../node_modules/primeflex/primeflex.scss';
@import '../../../node_modules/primeicons/primeicons.css';

.credit-card{
    background-color: #01D167;
    border-radius: 0.5rem !important;
    border-color: #01D167 !important;
}